#formButtonBorder {
    margin-top: 10px;    
}
#form_and_report {
    margin-top: 50px;
}
#form_buttons button {
    width: 200px;
    margin:10px;
}
.screen-buttons a {
    display: block;
    min-height: 64px;
}
#home-anchor {
    margin-left:40px;
    width:100px;
    height:80px;
}
#anchor {
    width:300px;
}
#new_screen_anchor {
    width:300px;
}
#frame {
    margin-top: 40px;
}
.buttons button {
    display: block;
    width: 300px;
    margin: 10px auto;
}
.buttons {
    display: block;
    width: 300px;
    margin: 10px auto;
}
#template-screen {
    display: block;
    text-align: center;
    margin: 10px auto;
}

.template-preview {
    border: 1px solid black;
    height: 150px;
    padding: 15px;
}

.template-preview-link {
    text-align: center;
    text-decoration: none;
    color: black;
}
#temporary-customer-names {
    margin-top: 20px;
    border: 1px solid grey;
    padding: 5px;
    width: 400px;
    font-size: 25px;
}
#create_buttons {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    text-align: left;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#create_buttons > button {
    margin-right: 5px;
    flex: 0 0 auto;
}

#create_buttons > button:last-child {
    margin-right: 0;
}
