.template-preview {
    border: 1px solid black;
    height: 150px;
    padding:15px;    
}

.template-preview-link {
    text-align: center;
    text-decoration: none ;
    color: black;
}
#temporary-customer-names {
    background-color: rgb(240, 238, 238);
    border: 1px solid grey;
    padding: 5px;
}
#temporary-link {

    font-size: 25px;
    text-decoration: none;
    color: black;
}