
#a {
    margin-top:200px;
    width:300px;
}
#anchor {
    width:300px;
}
#new_screen_anchor {
    width:300px;
}
#frame {
    border:1px solid black;
}
.buttons button {
    display: block;
    width: 300px;
    margin: 10px auto;
}
.buttons {
    display: block;
    width: 300px;
    margin: 10px auto;
}
#template-screen {
    display: block;
    width: 400px;
    text-align: center;
    margin: 10px auto;
}