
/*#a {
    margin-top:200px;
    width:300px;
}*/
/* #back_to_template {
    margin-left: 80px;
    width:100px;
    height:80px;
} */

.screen-buttons a {
    display: block;
    min-height: 64px;
}
#home-anchor {
    margin-left:40px;
    width:100px;
    height:80px;
}
#anchor {
    width:300px;
}
#new_screen_anchor {
    width:300px;
}
#frame {
    border:1px solid black;
}
.buttons button {
    display: block;
    width: 300px;
    margin: 10px auto;
}
.buttons {
    display: block;
    width: 300px;
    margin: 10px auto;
}
#template-screen {
    display: block;
    width: 400px;
    text-align: center;
    margin: 10px auto;
}