.template-preview {
    border: 1px solid black;
    height: 150px;
    padding:15px;    
}

.template-preview-link {
    text-align: center;
    text-decoration: none ;
    color: black;
}
#temporary-customer-names {
    border: 1px solid grey;
    padding: 5px;
    width: 400px;
    font-size: 25px;
}