#formButtonBorder {
    margin-top: 10px;
    border: 3px solid gray;
}
#form_and_report {
    margin-top: 50px;
}
#form_buttons button {
    width: 200px;
    margin:10px;
}
.screen-buttons a {
    display: block;
    min-height: 64px;
}
#home-anchor {
    margin-left:40px;
    width:100px;
    height:80px;
}
#anchor {
    width:300px;
}
#new_screen_anchor {
    width:300px;
}
#frame {
    margin-top: 40px;
}
.buttons button {
    display: block;
    width: 300px;
    margin: 10px auto;
}
.buttons {
    display: block;
    width: 300px;
    margin: 10px auto;
}
#template-screen {
    display: block;
    text-align: center;
    margin: 10px auto;
}