
#a {
    margin-top:200px;
}
a {
    width:300px;
}
form {
    border:1px solid black;
}
.buttons button {
    display: block;
    width: 300px;
    margin: 10px auto;
}
#modal-input {
    width:455px;
}