
#a {
    margin-top:200px;
}
a {
    width:300px;
}
#frame {
    border:1px solid black;
}
#preview {
    margin-left:100px;
    width:200px;
}
.buttons a {
    display: block;
    width: 300px;
    margin: 10px auto;
}